@charset "utf-8";

:root {
    --point-color: #fabe00;
    --defalt-dark-color: #333;

    /* font notosans */
    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* font-family */
    --font-familly-gmarket: 'GmarketSansMedium';
    --font-familly-notosans: 'Noto Sans KR', sans-serif;
}

* {
    box-sizing: border-box;
}

/* html {
    scroll-behavior: smooth;
} */

body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

em {
    font-style: normal;
    margin-left: 15px;
}

.contents {
    width: 1200px;
    margin: 0 auto;
    display: block;
    align-items: center;
    height: 100vh;
}



.hide {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}



/* font  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


section {
    box-sizing: border-box;
    overflow: hidden;
    box-sizing: border-box;
}

section.active {
    padding: 0;
}

#main_wrapper {
    display: none;
}




/************** header 영역 *************/
header {
    width: 100vw;
    height: 100px;
    position: fixed;
    display: none;
    align-items: center;
    z-index: 50;
}

#nav {
    width: 100%;
    height: inherit;
    position: fixed;
}

#nav.bright {
    background: #fff;
    color: #000;
    box-shadow: 1px 1px 10px 5px rgb(0 0 0 / 20%);
    transition: all .2s ease-in-out;
}

#nav.bright .main_menu li a {
    color: #000;
    transition: all .2s ease;
}

#nav.bright .main_menu li a:hover {
    color: var(--point-color);
}

nav {
    width: 1200px;
    display: flex;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav .iqr {
    display: none;
}


.brand_logo.posible {
    width: 120px;
    height: 52px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-30%);
    background: url(../imgs/tble_logo.svg) no-repeat;
}

.brand_logo.visible {
    width: 120px;
    height: 52px;
    display: inline-block;
    background: url(../imgs/tble_logo_dark.svg) no-repeat;
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-30%);
}

.main_menu ul {
    display: flex;
    margin: 0;
}

.main_menu ul li a {
    color: #fff;
    font-size: 20px;
    padding: 32px;
    margin: 4px;
    display: flex;
    cursor: pointer;
    transition: all .1s ease;
}

.main_menu ul li a:hover {
    color: var(--point-color);
}

.main_menu ul li:last-child a {
    padding-right: 0;
    margin-right: 0;
}

.contents {
    width: 1200px;
    margin: 0 auto;
}


/************** 메인 비주얼 영역 **************/

#main_visual {
    background: url('../imgs/main_visual.png') no-repeat center / auto 105%;
    position: relative;
    overflow: hidden;
    padding-top: 0;
}

#main_visual .contents {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mo_visual_btn {
    display: none;
}

.visual_contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.visual_title {
    color: #fff;
    font-size: 80px;
    font-size: 4.8vw;
    font-family: 'GmarketSansMedium';
    line-height: 1.3;
    text-shadow: 5px 5px 5px rgb(0 0 0 / 60%);
    animation: mainTxt 1s .2s ease-in-out forwards;
    opacity: 0;
}



@keyframes mainTxt {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    50% {
        transform: translateY(-15%)
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes mainScale {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.visual_title strong {
    display: block;
}

.visual_title span {
    color: var(--point-color);
}

.visual_title p {
    font-size: 1.5vw;
    font-family: 'Noto Sans KR', sans-serif;
}

.visual_image {
    position: absolute;
    object-fit: cover;
    right: 0;
    transform: translateY(200px);
    bottom: -10px;
    animation: upAnd 1s .3s ease-in-out forwards;
    opacity: 0;
}

@keyframes upAnd {
    0% {
        transform: translateY(300px);
        opacity: 0;
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(20px);
        opacity: 1;
    }
}

.visual_image img {
    max-width: 100%;
    width: 90%;
}

.visual_btn {
    width: 55%;
    height: 80px;
    border: 2px solid var(--point-color);
    color: var(--point-color);
    font-size: 2vw;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
    margin-top: 45px;
    font-weight: bold;
    animation: mainScale 1.0s .5s ease-in-out forwards;
    opacity: 0;
}



.visual_btn a {
    color: var(--point-color);
}

.visual_btn img {
    margin-left: 10px;
    transition: all .3s ease-in-out;
}



.visual_btn:hover img {
    transform: translateX(10px);
}


/* ************* 프로모션 영역 *************  */
#promotion {
    background: #f3f3f3;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

#promotion .contents {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;

}



.pro_logo {
    position: absolute;
    width: 800px;
    opacity: 0.1;
    right: -300px;
    bottom: 282px;
    transform: rotate(90deg);
}


#promotion h3 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 3px;
    margin-top: 55px;
}

#promotion h3 span {
    color: var(--point-color);
}

.pro_cards {
    display: flex;
    width: 1280px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;

}

.pro_cards:first-child .pro_card:first-child {
    margin-left: 10%
}

.pro_cards:first-child .card_second {
    margin-right: 10%
}

.pro_cards:nth-child(2) .card_one {
    margin-left: 10%
}

.pro_cards:nth-child(2) .card_two {
    margin-right: 10%
}

/* .pr_swiper .swiper-slide {
    margin-top: 150px;
} */

.pro_card img {
    width: 100%;
}

.pro_txt {
    color: #fff;
    text-align: left;
}

.pro_title {
    background: #f3c136;
    width: 120px;
    height: 42px;
    line-height: 42px;
    border-radius: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.pro_txt span {
    margin-top: 30px;
    display: inline-block;
    font-size: 20px;
    font-weight: var(--font-weight-light);
}

.pro_txt p {
    font-size: 24px;
    margin: 8px 0 50px;
    font-weight: bold;
    line-height: 1.3;
}

.or_txt {
    font-size: 7vw;
    font-weight: bold;
    font-family: 'GmarketSansMedium';
    color: #bcbcbc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .2;
}



/* promotion swiper  */

.pr_swiper {
    height: 650px !important;
}

.pr_swiper .swiper-slide {
    margin-top: 0;
}

.pr-pagination .swiper-pagination-bullet {
    border-color: var(--point-color) !important;
    color: var(--point-color) !important;
}

.pr-pagination.swiper-pagination {
    top: 40px !important;
}

.swiper-pagination-bullet-active {
    background: var(--point-color) !important;
    color: #fff;
    position: relative;

}

.pr-pagination .swiper-pagination-bullet-active {
    color: #fff !important;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    padding: 11px 85px !important;
    border-radius: 50px !important;
    margin: 10px;
}

.pr-pagination .swiper-pagination-bullet:first-child {
    margin-right: 35px !important;
}



/************** tble point 영역 **************/
#point {
    position: relative;
    background: url(../imgs/point_bg.jpg);
}

#point .contents {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.main_title {
    text-align: center;
    max-width: 100%;
    width: 45%;
    margin: 0 auto;
}

.main_title img {
    width: 100%;
}

.point_ics {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    text-align: center;
}

.point_ics img {
    width: 84%;
    margin-top: 20px !important;
}

.point_des {
    text-align: center;
}

.point_des p {
    color: #161616;
    font-family: 'GmarketSansMedium';
    font-weight: bold;
    font-size: 1.6vw;
    letter-spacing: -2px;
    margin-bottom: 0;
}

.point_des span {
    padding: 10px 0;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-right: 10px;
}

.point_des em {
    display: block;
    margin-left: 0;
    color: #fff;
}


/************* support 영역 *************/
#support {
    background: url(../imgs/support_bg.jpg) no-repeat center / auto;
    color: #fff;
    position: relative;
    overflow: hidden;
}

#support .contents {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.support_txt {
    margin-top: 6vh;
    font-size: 2vw;
    text-align: center;
    font-weight: var(--font-weight-regular);
    line-height: 1.4;
    letter-spacing: -3px;
}

.mo_support_txt {
    display: none;
}

.line {
    display: inline-block;
    width: 1px;
    height: 6%;
    background: #fff;

}

.support_main_txt {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 10px;
}

.support_main_txt p {
    font-size: 2vw;
    text-align: center;
    letter-spacing: -2;
    font-family: var(--font-familly-gmarket);
    font-weight: var(--font-weight-light);
    margin: 0 0 10px;
}

.support_main_txt span {
    color: var(--point-color);
    font-weight: var(--font-weight-bold);
    line-height: 1;
}

.support_img {
    max-width: 60%;
    line-height: 0;
}

.support_img img {
    width: 100%;
}


/************* management 관리 영역 *************/
#management {
    background: url(../imgs/manage_bg.jpg) no-repeat center / auto;
    padding: 0;
    position: relative;
    z-index: -2;
}

#management .contents {
    padding: 0 60px;
}

.manage_icons {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    text-align: center;
    position: relative;
}

.manage_icons div {
    margin-top: 30px;
}

.manage_icons .ma_and {
    font-size: 13vw;
    opacity: .1;
    position: absolute;
    top: 45%;
    transform: translateY(-85%);
    z-index: -1;
    right: 60%;
}

.manage_icons .ma_and.and_se {
    right: 280px;
}

.manage_ico img {
    width: 100%;
}

.manage_des span {
    font-size: 1.7vw;
    color: var(--point-color);
    font-family: var(--font-familly-gmarket);
}

.manage_des p {
    font-size: 22px;
    font-weight: var(--font-weight-light);
}

.ma_and {
    opacity: .1;

}


/************** growth 함께성장해요 영역 **************/
#growth {
    background: url(../imgs/growth_bg.jpg) no-repeat center / auto 143%;
    padding-top: 0;
    position: relative;
    z-index: -3;

}

#growth .contents {
    display: flex;
    align-items: center;
    padding: 0 50px;
    overflow: hidden;
}

.mo_grow_sub,
.mo_grow_main {
    display: none;
}

.grows {
    display: flex;
}

.grow_right {
    position: relative;
}

.grow_txt {
    font-size: 30px;
    font-weight: var(--font-weight-light);
    margin-left: 50px;
}

.grow_txt p {
    padding: 0;
    margin: 0;
}

.grow_txt span {
    font-size: 60px;
    font-family: var(--font-familly-gmarket);
    letter-spacing: -3px;
}

.grow_lines {
    margin-top: 50px;
    position: absolute;
    left: -50px;
    z-index: -2;
    width: 140%;
    overflow: hidden;
}

.grow_line {
    display: flex;
    background: var(--point-color);
    height: 88px;
    width: 600px;
    margin-bottom: 20px;
    padding-left: 67px;
    align-items: center;
    position: relative;

}

.grow_line em {
    font-size: 50px;
    letter-spacing: -2px;
    font-family: var(--font-familly-gmarket);
    font-weight: var(--font-weight-bold);
    font-style: italic;
}

.grow_line p:before {
    content: '';
    position: absolute;
    left: -87px;
    border: 44px solid #fff;
    border-left: 44px solid transparent;
    border-top: 44px solid transparent;
}

.grow_line p {
    background: #fff;
    height: 100%;
    position: absolute;
    width: 240px;
    right: -90px;
    display: flex;
    align-items: center;
    font-weight: var(--font-weight-regular);
    font-size: 20px;
    justify-content: flex-start;
}

.grow_line p:after {
    content: '';
    position: absolute;
    z-index: -1;
    right: -87px;
    border: 44px solid #fff;
    border-right: 44px solid transparent;
    border-top: 44px solid transparent;
}


/* ****************** campaign ****************** */

#campaign {
    position: relative;
    z-index: 50;
}

#campaign .contents {
    width: unset !important;
    margin-top: 16px;
}

#campaign:after {
    content: '';
    width: 100%;
    background: url(../imgs/campaign_bg.jpg) no-repeat center / auto;
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    height: 600px;
    z-index: -2;
}

#campaign .slick-next,
.slick-prev {
    display: none !important;
}

.round_con {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    height: 40vh;
}


.campaign_round {
    position: relative;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    max-width: 100%;
    border: 3px solid #e5e5e5;
    background: #fff;
    margin-right: 20vw
}


.campaign_round:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    left: -18px;
    top: -11px;
    border: 15px solid var(--point-color);
    border-left: 15px solid transparent;
    border-bottom: 15px solid transparent;
    animation: spin 1s 1s ease-in-out infinite;
    -webkit-animation: spin 1.5s 1s ease-in-out infinite;
}


@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    00% {
        -webkit-transform: rotate(360deg);
    }
}




.round_bg {
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    background: #333;
    border-radius: 50%;
    display: inline-block;
}


.round_txt {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.campaign_number {
    width: 29vw;
    font-size: 60px;
    font-family: var(--font-family-gmarket);
    position: relative;
    letter-spacing: -2px;
}

.campaign_number:after {
    content: '';
    width: 50%;
    height: 1px;
    background: #e5e5e5;
    display: inline-block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);

}

.round_txt p {
    font-size: 19px;
    font-weight: var(--font-weight-regular);
}

.campaign_sub {
    height: 100%;
    position: relative;
}

.campaign_sub em {
    margin-left: 0;
    color: var(--point-color);
}

.campaign_sub p {
    font-size: 2.5vw;
    letter-spacing: -4px;
    line-height: 1.5;
    font-weight: var(--font-weight-medium);
    font-family: var(--font-family-gmarket);
    padding: 0;
    margin: 0;
}

.campaign_sub p strong {
    position: relative;
    z-index: 2;
}

.campaign_sub p strong:after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 20px;
    background: var(--point-color);
    left: 0;
    z-index: -1;
}



.count:not(.is-visible) {
    visibility: hidden;
}

.campaign_con h3 .count {
    width: 130px;
    display: inline-block;
}


/* ----------- */
#campaign {
    display: flex;
    align-items: center;
}

.campaign_con {
    margin: 0 auto;
    line-height: 1.3;
    padding-top: 10px;
    background: #fff;
}

.campaign_con h3 {
    font-size: 45px;
    font-weight: lighter;
    letter-spacing: -1px;
    color: #3b3b3b;
    margin-bottom: 30px;
}

.campaign_con h3 strong:first-child {
    color: #fabe00;
}

.campaign_con h3 strong {
    color: #000;
}

.campaign_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.more_btn {
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 50px;
    padding: 3px 15px;
    position: absolute;
    right: -66%;
    bottom: 0;
}


.more_btn:hover {
    border: 1px solid var(--point-color);
    color: var(--point-color);
    font-weight: var(--font-weight-bold);
}

.campaing_more {
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 200px;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.campaing_more i {
    margin-left: 10px;
}

.campaign_cards {
    display: flex;
    justify-content: space-between;
}

.campaign_card {
    width: 285px;
    cursor: pointer;
}

.campaign_card a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0 6px;
}

.campaign_card img {
    width: 100%;
    object-fit: cover;
}

.campaign_img {
    overflow: hidden;
    object-fit: cover;
}

.campaign_img img {
    object-fit: cover;
    width: 100%;
    object-position: 80%;
}

.campaign_card strong {
    display: inline-block;
    font-size: 18px;
    font-size: 1vw;
    left: -2px;
    font-weight: 500;
}

.campaign_card span {
    border: 1px solid gray;
    padding: 3px 10px;
    border-radius: 20px;
    margin: 10px 0 25px;
    display: inline-block;
}

.campaign_card em {
    font-size: 13px;
    margin-top: 40px;
    margin-left: 0;
}

.cam_sub_tit {
    color: gray;
}

.cam_sub_tit strong {
    position: relative;
    color: #000;
    text-overflow: ellipsis;
    width: 100%;
}

.cam_sub_tit .cam_st {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;
}

.cam_sub_tit .fir {
    color: gray;
}

.campaign_card em b {
    color: #fabe00;
}

.campaign_cards .slick-slide {
    margin: 10px;
}

.campaign_cards .slick-dots {
    bottom: -66px;
}

.campaign_cards .slick-dots li {
    margin: 0;
}

.campaign_cards .slick-list {
    margin-top: 12px;
}

.campaign_cards .slick-dots {
    bottom: 230px;
}




/**************#mkt_order (process) 마케팅 진행 순서 영역 **************/

#mkt_order {
    background: url('../imgs/mkt_order_bg.jpg');
    padding-top: 0;
}

#mkt_order .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mkt_title {
    padding: 0 0 100px
}

.mkt_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kt_icon p {
    color: #fff;
    font-size: 28px;
    font-family: var(--font-family-gmarket);
    letter-spacing: -1px;
    height: 100px;
    text-align: center;
    font-weight: var(--font-weight-medium);
}


/* ****************** review ****************** */

#review {
    background: #fff;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    align-items: center;
}

.main_title {
    margin-top: 50px;
}



/* custom  */

/* Default slide */
#review .center-slider .slick-slide {
    background-color: #fff;
    color: #FFF;
    height: 200px;
    margin: 30px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.8);
    transition: all 0.4s ease-in-out;
    width: 400px;
    height: 480px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-radius: 20px;
    position: relative;
}


#review .center-slider .slick-slide,
#review .center-slider .slick-slide[aria-hidden="true"]:not(.slick-cloned)~.slick-cloned[aria-hidden="true"] {
    transform: scale(0.75, 0.75);
    transition: all 0.4s ease-in-out;
    opacity: .5;
}

#review .center-slider .slick-center,
#review .center-slider .slick-slide[aria-hidden="true"]:not([tabindex="1"])+.slick-cloned[aria-hidden="true"] {
    transform: scale(0.95);
    background-color: #fff !important;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    opacity: 1;
}


.slick-slide.slick-active {
    width: 100%;
}

#review .slick-next,
.slick-prev {
    z-index: 5;
}

#review .slick-next {
    right: -11px;
}

#review .slick-prev {
    left: -13px;
    display: block !important;
}

#review .slick-next:before,
.slick-prev:before {
    color: #000;
    font-size: 2vw !important;
}

#review .slick-next:before,
.slick-prev:before {
    color: #000 !important;
    font-size: 2vw;

}

.review_box {
    width: 385px;
    height: 680px;
    text-align: center;
    display: block !important;
    margin: 0 auto !important;
    justify-content: flex-start;
    background: #f3f3f3;
    border-radius: 20px !important;
    width: 100% !important;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5) !important;
}

#review .slick-slide img {
    margin: unset;
}

.review_img {
    max-width: 100%;
    object-fit: cover;
    object-position: bottom;
    overflow: hidden;
}

.review_img img {
    width: 100%;
}

.review_con {
    color: #333;
    padding: 20px;
    font-size: 1vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 30%;
}

.rev_sns {
    font-size: 1vw;
    font-family: var(--font-familly-gmarket);
    font-weight: bold;
    background: var(--point-color);
    padding: 8px 30px;
    border-radius: 30px;
}

.review_con p {
    padding: 0;
    margin: 15px 0 5px;
}

.rev_profile {
    width: 100%;
    text-align: center;
    margin: 20px 0 0;

}

.rev_profile img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#review .slick-slider {
    height: 75vh;

}

.slick-slider .slick-track,
.slick-slider .slick-list {
    display: flex;
    align-items: center;
    height: 75vh;


}

#review .slick-slide img {
    margin: 0 auto;
}

.rev_profile em {
    font-size: 20px;
}

#review .center-slider .slick-slide {
    box-sizing: border-box;
}



/************** 파트너사 영역 **************/

#partner {
    background: #f3f3f3;
}

#partner .contents {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mo_portner_img {
    display: none;
}


.partner_img img {
    width: 100%;
    width: 1200px;
    max-width: 100%;
    margin-top: 40px;
}

.mo_parter_img {
    display: none;
}



/************** 광고 문의 신청하기 영역 **************/

#contact {
    background: url(../imgs/contact_bg.jpg) no-repeat center / auto;
}

#contact .contents {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.form {
    z-index: 2;
    background: #fff;
    padding: 30px;
    margin-top: 30px;
    width: 50%;
}

.form form {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: block;
}

form input {
    display: flex;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    background: #f2f2f2;
    margin: 10px 0;
    border: none;
    outline: none;
    text-indent: 20px;
    padding: 20px 0;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}

#contact .cont_form {
    width: 35vw;
    display: flex;
}

#contact .cont_form .form {
    width: 100vw !important;
    margin-top: 50px;
}

form input {
    width: 100%;
    height: 58px;
    font-size: 18px;
    margin-bottom: 20px;
}

.last_input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

form input[type=checkbox] {
    height: 25px;
    width: 25px;
    font-size: 28px;
}

form input#numner {
    margin-bottom: 30px;
}

form em {
    font-size: 20px;
}

form input::placeholder {
    font-size: 20px;
    color: #000;
}

.contact_btn {
    display: block;
    margin: 0 auto;
    width: 268px;
    justify-content: center;
    margin-top: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
}

.contact_btn span {
    display: block;
    margin: 0 auto;
    justify-content: center;
    width: 250px;
    height: 65px;
    background: #fff;
    border: 2px solid var(--point-color);
    font-size: 30px;
    color: var(--point-color);
    text-align: center;
    line-height: 65px;
    cursor: pointer;
    padding-right: 50px;
}

.contact_btn img {
    width: 41px;
    height: 17px;
    position: absolute;
    right: 0;
    transform: translate(-110%, -30%);
    top: 50%;
    transition: all .3s ease-in-out;
}


.contact_btn:hover img {
    transform: translate(-90%, -30%);

}


/* thankyou_message  */
.thankyou_message,
.footer_thankyou_message {
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 40px;
    border-radius: 40px;
    display: none;
}

.footer_thankyou_message span,
.thankyou_message span {
    font-size: 80px;
    font-weight: bold;
    padding-bottom: 10px;
}

.footer_thankyou_message p,
.thankyou_message p {
    font-size: 20px;
    padding-top: 20px;
}

/************** footer 영역 **************/

#footer {
    background: url(../imgs/);
    background: #333;
    padding-top: 0;
}

#footer .contents {
    display: flex;
    height: 100vh;
    align-items: flex-end;
    position: relative;
    padding: 50px 0 100px;
}



.keymessage {
    position: absolute;
    top: 100px;
    color: #fff;
    font-size: 3.5vw;
    font-family: var(--font-family-gmarket);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.keymessage span {
    color: var(--point-color);
    font-weight: var(--font-weight-bold);
}

.footer_txt {
    color: #fff;
    font-weight: var(--font-weight-light);
    font-size: 14px;
    line-height: 2;
}


.footer_logo {
    width: 220px;
    position: absolute;
    top: 100px;
    right: 0;
}


/****** floating_menu 영역 ******/


.floating_menu {
    position: fixed;
    z-index: 50;
    display: flex;
    bottom: 0;
    left: 20px;
    flex-direction: column;
    transition: all .2s ease-in;
}


.floating_menu a {
    margin-bottom: 20px;
    width: 100px;
}

.floating_menu a img {
    width: 100%;
    max-width: 100%;
}


@media screen and (max-width: 500px) {
    html {
        box-sizing: border-box;
        width: 100%;
    }

    body {
        width: 100%;
        box-sizing: border-box;
    }

    .contents {
        height: 100vh;
        width: 100vw;
    }

    .floating_menu {
        display: none;
    }

    #fullpage {
        display: none;
    }

    #main_wrapper {
        display: block;
    }

    /***** header 영영 *****/
    header {
        display: flex;
        box-sizing: border-box;
        width: 100%;
        height: 60px;
    }

    #nav {
        padding: 10px 20px;
        height: 80px;
        position: fixed;
        z-index: 100;
    }

    nav {
        width: 100%;
        height: 70px !important;
    }

    nav .iqr {
        display: block;
        width: 130px;
        height: 34px;
        cursor: pointer;
    }

    .iqr:after {
        content: '';
        width: 130px;
        background: url(../imgs/mo/in_yellow.png) no-repeat center / auto 100%;
        position: absolute;
        top: 14px;
        right: 0;
        height: 40px;
        z-index: 900;
        display: none;
        transition: all .2s ease-in;
    }

    .iqr.active:after {
        display: block;
    }

    .iqr .iqr_img.visible {
        display: block !important;
    }

    nav .iqr img {
        width: 100%;
    }

    nav .main_menu {
        display: none;
    }

    .brand_logo {
        width: 140px;
        height: 30px;
    }

    /***** 메인 비주얼 영역 *****/
    #main_visual {
        overflow: hidden;
        position: relative;
    }

    #main_visual .contents {
        display: flex;
        flex-direction: center;
        align-items: center;
    }

    .mo_visual_btn {
        display: none;
        width: 100%;
        bottom: 80px;
    }

    .mo_btn_left {
        position: absolute;
        left: -80px;
    }

    .mo_btn_left img {
        width: 55%;
    }

    .mo_btn_right {
        position: absolute;
        right: -100px;
    }

    .mo_btn_right img {
        width: 55%;
        right: 0;
        float: right;
    }




    .visual_contents {
        align-items: flex-start;
        width: 100%;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        position: relative;
    }

    .visual_title {
        font-size: 11vw;
        text-align: center;
    }

    .visual_title strong {
        font-weight: normal;
    }

    .visual_title strong span {
        font-weight: bold;
    }

    .visual_title p {
        font-size: 3.5vw;
        font-family: 'Noto Sans KR', sans-serif;
    }

    .visual_btn {
        width: 200px;
        height: 55px;
        font-size: 25px;
        line-height: 55px;
        margin: 0 auto;
        margin-top: 10px;
    }

    .visual_btn img {
        margin-left: -10px;
        transform: scale(0.8);
    }

    .visual_image {
        right: -30px;
        width: 108%;
        display: flex;
        bottom: 0;
    }

    .visual_image img {
        width: 100%;
    }

    .visual_desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 100vw;
        margin-top: 100px;
    }


    /***** #promotion프로모션 영역 *****/
    section#promotion {
        height: 580px;
        padding-bottom: 0;
    }

    #promotion h3 {
        font-size: 30px;
        padding-bottom: 30px !important;
    }

    .promotion_title {
        width: 100%;
        padding: 0 10px;
    }

    .promotion_title img {
        width: 85%;
    }



    #promotion .swiper-pagination-clickable .swiper-pagination-bullet {
        padding: 8px 20px !important;
        margin-right: 10px !important;
    }

    .pr_swiper .swiper-slide {
        margin-top: 60px;
    }


    .pro_cards {
        height: 530px !important;
        justify-self: unset;
        align-items: unset !important;
        flex-wrap: nowrap;
    }

    .pro_card {
        height: 187px !important;
        flex-direction: column !important;
        overflow: hidden;
        position: relative;
    }

    .pro_card img {
        max-width: 100%;
        width: 185px;
    }


    .pro_card:first-child,
    .pro_card:nth-child(3) {
        margin-top: 60px;
    }

    .pro_cards:first-child .pro_card:first-child {
        margin-left: 120px;
    }

    .pro_cards:first-child .card_second {
        margin-right: 120px;
    }

    .pro_cards:nth-child(2) .card_one {
        margin-left: 120px;
    }

    .pro_cards:nth-child(2) .card_two {
        margin-right: 120px;
    }


    .or_txt {
        font-size: 40px;
        top: 30%;
        z-index: 20;
    }


    .pro_title {
        width: 95px;
        height: 30px;
        line-height: 30px;
    }

    .pro_title span {
        font-size: 18px;
    }

    .pro_txt {
        width: 60%;
        padding: 0 10px;
    }

    .pro_txt p {
        margin: 8px 0 20px;
        font-size: 18px;
    }

    .pro_img {
        width: 20%;
        margin-top: 15px;
        top: 0;
        left: 60%;
        position: absolute;
        z-index: 1;
    }

    .pro_img img {
        width: 50px;
    }

    .pro_logo {
        z-index: -1;
    }

    .pr-pagination.swiper-pagination {
        top: 36px !important;
    }

    .new-pagination.swiper-pagination-bullet {
        border: 2px solid ghostwhite;
        position: absolute;
        top: 0;
        left: 0;
    }

    .pr_swiper {
        height: unset !important;
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        color: #fff !important;
    }







    /***** tble #point 영역 *****/
    #point {}

    #point .contents {
        height: auto;
        padding: 50px 0;
    }

    #point .main_title {
        width: 100%;
        margin-top: 0;
    }

    .point_ics>div {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 10px;
    }

    .point_ics {
        flex-direction: row !important;
    }

    .point_ics img {
        width: 84%;
    }

    .point_ics {
        flex-direction: column;
        margin-top: 0;
    }

    .point_ic_1,
    .point_ic_2,
    .point_ic_3 {
        display: flex;
        flex-direction: row;
        margin: 10px;
        width: 100%;
    }

    .point_des {
        margin-left: 0;

    }

    .point_des p {
        font-size: 5.5vw;
        text-align: center;
    }

    .point_des span {
        text-align: center;
        font-size: 3.5vw;
        padding: 0;

    }

    .point_ic_2 .point_des p,
    .point_ic_2 .point_des span,
    .point_ic_2 .point_des em {
        text-align: center !important;
        margin-bottom: 10px;
    }




    /***** support 영역 *****/
    .support_txt {
        font-size: 5.4vw;
        padding: 0 30px;
        display: none;
    }

    .support_img {
        width: 100% !important;
        max-width: 100%;
    }

    .support_main_txt p {
        font-size: 8vw;
        padding: 0 30px !important;
    }

    .mo_support_txt {
        display: block;
        font-size: 6vw;
        padding: 0 30px;
        text-align: center;
        line-height: 1.2;
        letter-spacing: -1px;
        margin-top: 10px;
    }

    /***** #management 관리 영역 *****/

    #management .contents {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .manage_icons {
        height: unset;
    }

    .manage_icons>div {
        margin-top: 0;
        display: flex;
        width: 100%;
        align-items: center;
        margin-top: 0;
        flex-direction: column;
    }

    .manage_icons {
        flex-direction: column;
    }

    .manage_ico {
        margin: 10px 0;
        padding: 10px 0;
    }

    .manage_ico img {
        width: 110px;
        height: 110px;
        max-width: 100%;
    }

    .manage_des {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        width: 217px;
    }

    .manage_des hr {
        width: 100%;
    }

    .manage_des span {
        font-size: 5vw;
        text-align: left;
    }

    .manage_des p {
        font-size: 18px;
        text-align: left;
        margin: 0;
    }

    .manage_ico:first-child .manage_des p {
        padding: 0 2px;
    }

    .manage_ico:nth-child(2) .manage_des p {}

    /***** #growth 함께성장해요 영역 *****/

    #growth .contents {
        display: block;
        padding: 0 15px;
    }

    .grow_sub,
    .grow_main {
        display: none;
    }

    .mo_grow_sub,
    .mo_grow_main {
        display: block;
    }

    .mo_grow_sub {
        font-size: 4.5vw;
        letter-spacing: -2px;
    }

    .grows {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-top: 6vh;
    }

    .grow_left {
        margin-top: 3vh;
    }

    .grow_left img {
        width: 90%;
    }

    .grow_left {
        margin: 0 auto;
        text-align: center;
        flex: 1;
        display: flex;
    }

    .grow_left {
        display: flex;
        flex: 2;
    }

    .grow_txt {
        margin-left: 0;
        font-size: 24px;
    }

    .grow_txt span {
        font-size: 52px;
    }

    .grow_lines {
        left: -220px;
        width: 250%;
    }

    .grow_line {
        height: 60px;
        padding-left: 65px;
        margin-bottom: 13px;
    }

    .check img {
        width: 65%;
    }

    .grow_line em {
        font-size: 25px;
        margin-left: -15px;
    }

    .grow_line p {
        font-size: 14px;
        right: 99px;
        width: 190px;
        justify-content: flex-start;
    }

    .grow_line p:before {
        left: -58px;
        border: 30px solid #fff;
        border-left: 30px solid transparent;
        border-top: 30px solid transparent;
    }



    /***** campaign 영역 *****/

    .campaign_round {
        width: 170px;
        height: 170px;
        margin-right: 5vw;
    }

    .campaign_round:after {
        left: -10px;
        top: -11px;
        border: 10px solid var(--point-color);
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent;

    }

    .campaign_number {
        font-size: 30px;
        width: 58vw;
    }

    .round_txt p {
        font-size: 13px;
        letter-spacing: -1px;
    }

    .campaign_sub {
        display: flex;
        flex-direction: column;
        margin-top: 8vh;
    }

    .cam_sub_tit strong {
        font-size: 4vw !important;
    }

    .campaign_sub img {
        width: 10vw;
    }

    .campaign_sub p {
        font-size: 6.5vw;
    }

    .more_btn {
        right: -10%;
        bottom: 45px;
        width: 150px;
    }

    .campaign_cards .slick-dots {
        bottom: 150px;
    }

    /***** #mkt_order 마케팅 진행 순서 영역 *****/

    .main_title.mkt_title {
        width: 100%;
        padding-bottom: 0;
    }

    .mkt_icons {
        flex-direction: column;
        margin-top: 18px;
    }

    .kt_icon {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-start;
        height: 105px;
        border-bottom: 1px solid #e3e3e3
    }

    .kt_icon:last-child {
        border: none;
    }

    .kt_icon p {
        margin-left: 20px;
        display: flex;
        align-items: center;
        text-align: left;
        font-size: 24px;
    }

    .kt_icon img {
        width: 11vh;
    }




    /***** review 영역 *****/
    #review {
        width: 100%;
    }

    .main_title.review_title {
        width: 40%;
        margin-top: 100px;
    }

    #review .slick-next,
    .slick-prev {
        display: none !important;
    }

    .review_con {
        font-size: 4.5vw;
    }

    #campaign .slick-next,
    .slick-prev {
        display: none !important;
    }

    .review_box {
        height: 620px;
    }

    .rev_sns {
        font-size: 4.5vw;
    }

    /***** 파트너사 영역 *****/
    section#partner {
        background: #eee;
    }

    .mo_portner_img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }

    .mo_portner_img img {
        width: 80%;
        margin-top: 10px;
    }

    .main_title.partner_title {
        width: 100%;
    }

    #partner {
        height: auto;
    }

    .partner_img img {
        display: none;
    }

    .mo_parter_img {
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
        justify-content: center;

    }

    .mo_parter_img img {
        width: 95%;
    }

    /***** #contact 광고 문의 신청하기 영역 *****/

    #contact {
        width: 100%;
        height: 700px;
        position: relative;
        background: url(../imgs/mo/mo_contact.jpg) no-repeat center / auto 100%;
        box-sizing: border-box;
    }

    .main_title.contact_title {
        width: 100%;
    }

    #contact:before {
        content: '';
        background: url(../imgs/mo/mo_contact_txt.png) no-repeat center;
        position: absolute;
        top: 10px;
        left: 0;
        z-index: 10;
        height: 150px;
        background-size: 90%;
    }




    form input[type=checkbox] {
        height: 18px;
        width: 18px;
        font-size: 28px;
    }

    .form {
        width: 100%;
        padding: 10px;
        width: 100%;
        box-sizing: border-box !important;
    }


    form input::placeholder {
        font-size: 18px;
        color: #000;
    }

    form em {
        font-size: 14px;
        margin-left: 8px;
    }

    .contact_btn {
        margin: 20px 0 10px;
        width: 100%;
    }

    .contact_btn span {
        width: 190px;
        height: 55px;
        line-height: 55px;
        font-size: 25px;
        padding-right: 62px;
    }

    .contact_btn img {
        max-width: 100%;
        width: 30px;
        right: 60px;
    }

    .last_input span {
        font-size: 16px;
    }

    .footer_thankyou_message span,
    .thankyou_message span {
        font-size: 40px;
    }

    /***** footer 영역 *****/

    #footer {
        width: 100%;
        position: relative;
    }

    .footer_logo {
        width: 174px;
        left: 20px;
        top: 60px
    }

    .keymessage {
        left: 20px;
        top: 286px;
        font-size: 7.5vw;
    }

    .footer_txt {
        color: #fff;
        font-weight: var(--font-weight-light);
        font-size: 12px;
        line-height: 1.5;
        width: 100%;
        padding: 0 20px;
        margin-right: 70px;
    }



    /***** floating_menu 영역 *****/
    .floating_menu.active {
        display: none;
    }

    /* fullpage custom */

    .visual_title p {
        font-size: 4vw;
    }

    #fp-nav {
        top: 55% !important;
    }

    #fp-nav.right {
        right: -5px !important;
    }

    #fp-nav ul li a span,
    .fp-slidesNav ul li a span {
        transform: translate(-30%, 6%) !important;
        border: 1px solid #fff !important;
    }

    #fp-nav ul li:hover .fp-tooltip,
    #fp-nav.fp-show-active a.active+.fp-tooltip {
        opacity: 0 !important;
    }

    .point_des em {
        width: 93%;
        font-size: 3vw;
        text-align: left;
    }

    #fp-nav ul li,
    .fp-slidesNav ul li {
        margin: 15px !important;
        padding-left: 0px;
        padding-right: 0px;
    }





}

/* fullpage css  */

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: var(--point-color) !important;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    transform: translate(-30%, 6%) !important;
    border: 1px solid #fff !important;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    width: 20px !important;
    height: 20px !important;
    border: 1px solid #fff;
}

#fp-nav ul li .fp-tooltip.right {
    font-size: 20px;
    color: #999;
}

#fp-nav ul li,
.fp-slidesNav ul li {
    margin: 15px !important;
    padding-left: 20px;
}

#fp-nav {
    transform: translateY(-50%);
}